In [2]:
import pandas as pd

### Panel data sets: Category_PANEL_outlet_startweek_endweek.dat

Panel data is provided for two BehaviorScan markets, Eau Claire, Wisconsin and Pittsfield, Massachusetts.
The naming convention for these is category name then “panel” then outlet then start week and then end week, all separated by underscores, with the extension DAT, so salted snacks drug data for the earliest year would be saltsnck_PANEL_DR_1114_1165


PANID
panelist number within a market
￼

UNITS
Total number of units purchased by the Buying households.
The sum of total units purchased by the households buying the Product.
￼

OUTLET
Channel to which the store/chain belongs MA=Mass
GR=Grocery
DR=drug
DOLLARS
￼

Total Paid dollars
This is drawn from the store data, not entered by the panelist, in cases where IRI has store data. In cases where IRI does not receive store data, some panelists do


IRI_KEY
Masked store number
￼

WEEK
IRI WEEK
￼
￼

COLUPC
(Collapsed UPC). This is the UPC which matches the internal form (e.g. private label collapsed). The information in COLUPC is the same as in the combination of SY, GE, VEND, ITE.
This is the combination of a upc’s system (2 digits), generation (1 digit), vendor (5 digits) and item (5 digits) fields. See product description section for an explanation of these fields. No leading zeroes are shown.

In [4]:
panel = pd.read_csv("dse-iri-dataset/Year1/External/saltsnck/saltsnck_PANEL_DR_1114_1165.dat", delimiter="\t")
panel.head()

     PANID  WEEK  UNITS OUTLET  DOLLARS  IRI_KEY       COLUPC
0  1212076  1133      1     DR     0.59  8003042  11600012250
1  1229641  1157      1     DR     0.59  8003042  11600012250
2  1800060  1137      1     DR     0.59  8003042  11600012250
3  1104018  1152      1     DR     0.99  8003043  11600012530
4  1106229  1123      1     DR     0.99  8003043  11600012530

## Panel Demographics

Panel demographic files have been standardized and are called ads demoN.csv, where
N is the year number: ads demo1.csv, ads demo2.csv ... ads demo5.csv.


The panelists included are those who satisfied IRI’s standard 52 week reporting static. This means that (1) the panelists included reported all year, and (2) the panelists are different between years.
For the initial set of data provided, the panelist demos reflect data current at that time. So, for the year 1, 2, and 3 (2001-2003) data, the panelist demos are from early 2007, not 2001. For this reason, there may be panelist records without demographics. For years 4 and 5 (2004-2005) the panelist demos are from later in 2007 and may be slightly different due to the demographic updates. Similarly for years 8-11: the demos reflect information pulled in summer, 2012.


The field names and the first two panelist values are shown below. Due to the demographic updates, there are minor differences in the values for the two panelists. For example, the male head in household in 1100180 is now listed as “some college” rather than post-secondary “technical school”, and the male head occupation from laborer to machine operator.


In these files, a missing value may appear as an empty field, a blank, a period, or a zero.

In [19]:
demos1 = pd.read_csv("dse-iri-dataset/demos trips external 1_11 may13/ads demo1.csv")
demos11 = pd.read_csv("dse-iri-dataset/demos trips external 1_11 may13/ads demos11.CSV")

print demos1.columns.values
print demos11.columns.values

['Panelist ID' 'Panelist Type' 'Combined Pre-Tax Income of HH'
 'Family Size' 'HH_RACE' 'Type of Residential Possession' 'COUNTY' 'HH_AGE'
 'HH_EDU' 'HH_OCC' 'Age Group Applied to Male HH'
 'Education Level Reached by Male HH' 'Occupation Code of Male HH'
 'Male Working Hour Code' 'MALE_SMOKE' 'Age Group Applied to Female HH'
 'Education Level Reached by Female HH' 'Occupation Code of Female HH'
 'Female Working Hour Code' 'FEM_SMOKE' 'Number of Dogs' 'Number of Cats'
 'Children Group Code' 'Marital Status' 'Language'
 'Number of TVs Used by HH' 'Number of TVs Hooked to Cable' 'Year'
 'HISP_FLAG' 'HISP_CAT' 'HH Head Race (RACE2)' 'HH Head Race (RACE3)'
 'Microwave Owned by HH' 'ZIPCODE' 'FIPSCODE' 'market based upon zipcode'
 'IRI Geography Number' 'EXT_FACT']
['Panelist ID' 'Panelist Type' 'Combined Pre-Tax Income of HH'
 'Family Size' 'Household Head Race' 'Type of Residential Possession'
 'COUNTY' 'Age Group Applied to Household Head'
 'Education Level Reached by Household Head'
 'Occupation Code of Household Head' 'Age Group Applied to Male HH'
 'Education Level Reached by Male HH' 'Occupation Code of Male HH'
 'Male Working Hour Code' 'MALE_SMOKE' 'Age Group Applied to Female HH'
 'Education Level Reached by Female HH' 'Occupation Code of Female HH'
 'Female Working Hour Code' 'FEM_SMOKE' 'Number of Dogs' 'Number of Cats'
 'Children Group Code' 'Marital Status' 'HH_LANG' 'ALL_TVS' 'CABL_TVS'
 'Hispanic Flag' 'HISP_CAT' 'RACE2' 'RACE3' 'MICROWAVE' 'device_type'
 'ZIPCODE' 'FIPSCODE' 'market based upon zipcode' 'IRI Geography Number'
 'EXT_FACT']

## Store File

Naming convention: The naming convention for these is category name then outlet then start week and then end week, all separated by underscores, with no extension, so salted snacks drug data for the earliest year would be saltsnck_drug_1114_1165.

RI_KEY Masked Store number, keyed to delivery_stores file.


WEEK IRI Week: see IRI Week Translation.xls file for calendar week translation

SY

￼UPC - System

￼GE UPC – Generation

VEND UPC - Vendor

￼ITEM UPC - Item

UNITS Total Unit sales

DOLLARS Total Dollar sales

F Feature: see table below

D Display: (0=NO, 1=MINOR, 2=MAJOR. MAJOR includes codes lobby and end- aisle)

PR Price Reduction flag: (1 if TPR is 5% or greater, 0 otherwise)

In [16]:
store = pd.read_fwf("../dse-iri-dataset/Year1/External/saltsnck/saltsnck_drug_1114_1165")
store.head()

   IRI_KEY  WEEK  SY  GE   VEND  ITEM  UNITS  DOLLARS     F  D  PR
0   664497  1114   0   1  41633  2154      3     2.97  NONE  0   0
1   664497  1114   0   2  41633   145      6    13.14  NONE  0   0
2   664497  1114   0   1  41633  2119      3     2.97  NONE  0   0
3   664497  1114   0   2  41633   135      3     6.57  NONE  0   0
4   664497  1114   0   1  41633  2140      1     0.99  NONE  0   0

## Product Attributes

The improved file format, which incorporates further information, is prod_category.xls, 16
There are three sets of files.

The first set of files are applicable to years 1-6 and are provided in a directory called “parsed stub files”.

The second set of files are applicable to year 7 and are provided in a directory called “parsed stub files 2007”.

The third set of files are applicable to years 8-11 are are provided in a directory called “parsed stub files 2008-2011”

In [20]:
pd.read_

AttributeError: 'module' object has no attribute 'read_'

## Panel Trips

These files represent the trips made by panelists who purchased at least one item.
These files have been standardized in format from the way they were originally
constructed, and placed in the directory “parsed stub files”. The naming convention is 14
tripsN jul08.csv, where N is the year . Fields are listed below. These files contain the following fields:

In [14]:
trips = pd.read_csv("../dse-iri-dataset/demos trips external 1_11 may13/trips1 jul08.csv")
trips.head()

     PANID  WEEK  IRI_Key  MINUTE  CENTS998     CENTS999
0  1100016  1114   234140    9701       NaN  4470.835938
1  1100016  1115   234140    8088       NaN  7287.500000
2  1100016  1116  8046669    5332       NaN  1398.000000
3  1100016  1116   234140    8165       NaN  9771.839844
4  1100016  1116  8003043    9432       NaN  1848.000000

## Delivery Stores

This is a flat file with information about the stores. 

This file also contains outlet, estimated acv, the market name so data can be aggregated by market, an open and close week, and finally a “chain” number representing a particular retailer. All the stores belonging to Chain8 are part of the same retailer that year.

In [18]:
stores = pd.read_fwf("../dse-iri-dataset/Year1/External/saltsnck/Delivery_Stores")
stores.head()

   IRI_KEY  OU    EST_ACV        Market_Name  Open  Clsd  MskdName
0   200039  GR   9.602997  BUFFALO/ROCHESTER   539  1219   Chain87
1   200171  GR  28.454990          MILWAUKEE   522  9998   Chain97
2   200197  GR  11.314990  PEORIA/SPRINGFLD.   903  9998   Chain59
3   200233  GR   7.473000      OKLAHOMA CITY  1122  1150  Chain102
4   200272  GR  13.266000        LOS ANGELES   873  9998  Chain124

In [2]:
%load_ext sql

/usr/local/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/usr/local/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
%%sql postgresql://sharknado:sharknado@sharknado-dse.ceg3hdkdq8l0.us-east-1.rds.amazonaws.com/sharknado
        select * from test

1 rows affected.

[(u'alex',)]

In [5]:
names = _

In [7]:
names

[(u'alex',)]

In [12]:
result = %sql select * from test

dataframe = result.DataFrame()

3 rows affected.

In [13]:
dataframe

    name
0   alex
1   john
2  david